@import "main";
.articles-list{
  .article{
    display: block;
    margin-bottom: 20px;
    border: 1px solid $grey;
    transition-duration: $fast;
    transition-timing-function: ease;
    text-align: center;

    .article-img{
      margin: 0 auto;
    }

    .author{
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 20px;
      width: 94%;
      margin-left: 3%;
      background: $black-transparent;

      .author-link {
        .avatar {
          display: inline-block;
          width: 40px;
          height: 40px;
          top: -10px;
          position: relative;
        }
        .author-name {
          display: inline-block;
          color: $lookatthis-main;
          position: relative;
          top: -9px;
          font-size: 0.9em;
        }
      }
    }

    &:hover{
      img{

      }
    }
  }
}
#article-new{
  textarea{
    resize: vertical;

    &.description{
      resize: none;
      min-height: 80px;
    }
    &.body{
      min-height: 200px;
    }
  }

  textarea, input, [type="submit"] {
    border-radius: 0px;
  }
}
#preview{
  overflow: hidden;
  min-height: 320px;
  background: #d7d7d7;

  .title{
    min-height: 20px;
    text-align: center;
  }
  .description{
    min-height: 120px;
    text-align: center;
  }

  .preview-img{
    margin: 0 auto 20px;
  }
}

.preview-page{
  .tech{
    background: $white-dark;
    color: $lookatthis-main;
    text-align: right;
    padding-right: 10px;
  }
}
.article-full{

  .title{
    text-align: center;
    margin-bottom: 20px;
      span {
        border-bottom: 2px solid $grey;
        font-size: 1.5em;
      }
  }
  .part1, .part2{
    margin-top: 15px;
  }
}