$lookatthis-main: #ffc511;
$lookatthis-light: rgba(255, 197, 17, 0.45);
$grey: #d5d5d5;
$white-dark: #F4F4F4;
$green-btn: #00d400;
$green-light-btn: rgba(0, 212, 0, 0.45);
$blue: #1bb4ff;
$blue-light: rgba(27, 180, 255, 0.45);
$buy: #ff744e;
$buy-light: rgba(255, 116, 78, 0.46);
$grey-text: #5A5A5A;
$black-transparent: rgba(55, 55, 55, 0.51);
$views: #6d9eff;

$fast: 0.5s;
$medium: 1.2s;
$slow: 1.7s;

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=cyrillic-ext,latin);

body{
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  -webkit-perspective: 1000;
  perspective: 1000;

  input{border: none;}

  .btn{border-radius: 0px;}

  div.required label:after {
    content: " *";
    color: red;
  }

  .marker{background: #ffff00;}

  .left-panel{
    min-height: 150px;
    padding: 0px;
    -webkit-perspective: 500;
    perspective: 500;

    .button-list{
      display: block;
      height: 50px;
      line-height: 50px;
      margin-bottom: 20px;
      font-size: 1.2em;
      transition-duration: $fast;
      transition-timing-function: ease;
      -webkit-transition-duration: $fast;
      -webkit-transition-timing-function: ease;
      font-weight: 700;

      &.write-article{
        border: 1px solid $green-light-btn;
      }
      &.earn-money{
        border: 1px solid $lookatthis-light;
      }
      &.buy-article{
        border: 1px solid $buy-light;
      }
      &.join{
        border: 1px solid $blue-light;
      }

      &:hover{
        -webkit-transform: rotateX(20deg);
        transform: rotateX(20deg);
        &.write-article{
          background: $green-light-btn;
          box-shadow: 0px 5px 11px 1px $green-btn;
        }
        &.earn-money{
          background: $lookatthis-light;
          box-shadow: 0px 5px 11px 1px $lookatthis-main;
        }
        &.buy-article{
          background: $buy-light;
          box-shadow: 0px 5px 11px 1px $buy;
        }
        &.join{
          background: $blue-light;
          box-shadow: 0px 5px 11px 1px $blue;
        }
      }

      .icon{
        display: inline-block;
        height: 48px;
        width: 51px;
        background-image: url('/images/left-panel-icons.png');
        background-repeat: no-repeat;

        &.article{
          background-position: center -2px;
          background-color: $green-btn;
        }
        &.earn{
          background-position: center -233px;
          background-color: $lookatthis-main;
        }
        &.buy-article{
          background-position: center -499px;
          background-color: $buy;
        }
        &.join{
          background-position: center -405px;
          background-color: $blue;
        }
      }

      .title{
        display: inline-block;
        height: 50px;
        position: relative;
        color: $grey-text;
      }

      &.fixed-right-btn{
        position: fixed;
        width: 100%;

        &.write-article{
          top: -30px;
        }
        &.earn-money{
          top: 20px;
        }
        &.buy-article{
          top: 70px;
        }
        &.join{
          top: 120px;
        }
      }
    }
    &.small{
      max-width: 50px;
    }
    .user-button{
      display: block;
      height: 50px;
      line-height: 50px;
      margin-bottom: 20px;
      font-size: 1.2em;

      &.views{
        border: 1px solid $views;
      }
      &.money{
        border: 1px solid $lookatthis-main;
      }

      .icon{
        display: inline-block;
        height: 48px;
        width: 51px;

        &.views{
          border: 1px solid $views;
          background: $views;
        }
        &.money{
          border: 1px solid $lookatthis-main;
          background: $lookatthis-main;
        }
      }
    }
  }

  .right-panel{
    border: 1px solid $grey;
    min-height: 150px;
  }

  .center-panel{
    //border: 1px solid $grey;

    &.big{
      max-width: 91%;
    }
  }

  .small{
    max-width: 50px;
  }

  .log-in{
    display: block;
    max-width: 200px;
    margin: -7px auto;
    visibility: hidden;
  }
  .footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: $lookatthis-main;
    height: 30px;
    transition-duration: $fast;
    transition-timing-function: ease;
    -webkit-transition-duration: $fast;
    -webkit-transition-timing-function: ease;
    &.open{
      height: 60px;
      .log-in{visibility: visible;}

      .flag{
        display: block;
        width: 40px;
        right: 50px;
      }
      .info{
        display: block;
      }
    }

    .row{
      text-align: center;
    }
    .arrow-footer{
      position: relative;
      top: -12px;
      cursor: pointer;
      &:hover{
        color: #ffffff;
      }
    }
    .flag, .info{
      display: none;
    }
  }

  .copy{
    text-align: center;
    font-weight: 300;
    font-size: 0.8em;
  }

  .arcticmodal-container_i2{
    .box-modal{
      &.custom-arctic {
        font-family: 'Ubuntu';
        font-size: 1.3em;
        font-weight: 300;
        border-radius: 0px;
        background: $lookatthis-main;
        color: #000000;
        box-shadow: 0px 0px 3px 6px $lookatthis-light;
      }
      .box-modal_close{
        color: #000000;
      }
    }
  }
}